.profile {
	display: block;
	margin: auto;
	width: auto;
  height: 30vh;
  margin-top: 30px;
  margin-bottom: 30px;
	filter: drop-shadow(5px 5px 5px #222);
}

.content-section.bg-light {
  background-color: #fdf496 !important;
	padding-top: 50px;
	padding-bottom: 50px;
}

.container {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
}

.col-lg-10 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.col-lg-10 h2 {
	color: #236fa2;
	margin-bottom: 10px;
}

.profileDiv {
  height: 90%;
  line-height: 90%;
  text-align: center;
}

.descripDiv {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	@media (max-width: 1100px) {
		p {
			color: #05042e;
			font-size: 3vw;
			line-height: 1.8em;
		}
	}
	@media (min-width: 1100px) {
		p {
			color: #05042e;
			font-size: 1.5em;
			line-height: 1.8em;
		}
	}
}

.lead.mb-5.bottom {
  margin-bottom: 0px !important;
}

.descripDiv {
  height: auto;
}
