@import url("https://fonts.googleapis.com/css?family=News+Cycle");
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.0/css/all.css");

.masthead {
  background: none !important;
  background-color: #fdf496 !important;
  //background-position: center center !important;
  //background-repeat: no-repeat !important;
  //background-size: cover !important;
  height: 100vh;
}

.masthead h3 {
  font: 100 3em/1.2 'Barlow', Helvetica, sans-serif !important;
  color: #05042e;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.2);
}

header.container {
  position: relative;
  margin-left: auto;
  //margin-top: auto !important;
  //margin-bottom: auto !important;
  font-family: 'Barlow', sans-serif !important;
  vertical-align: middle;
}

.about {
  margin-top: 3rem;
  width: 60%;
  p {
    font-size: 1.1rem;
    text-align: justify;
  }
}

.header.far.fa-envelope {
  line-height: inherit;
  color: #050030;
  margin-right: 1.5vw;
  margin-left: 2vw;
  font-size: 2rem;
}

.header.fab.fa-github {
  line-height: inherit;
  color: #050030;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  font-size: 2rem;
}

.header.fab.fa-linkedin-in {
  line-height: inherit;
  color: #050030;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  font-size: 2rem;
}

.header.far.fa-file {
  line-height: inherit;
  color: #050030;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  font-size: 2rem;
}

.header.fab.fa-medium-m {
  line-height: inherit;
  color: #050030;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  font-size: 2rem;
}
