.portfolio-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  max-width: 60%;
  max-height: 60%;
}

.portfolio-content {
  padding: 1.5rem;
}

#concepts {
  margin-bottom: 10px;
}
