html, body {
	background-color: #fdf496;
}

/*Home Page*/

.section#homepage {
	background: url(images/mountains.png) no-repeat center center fixed; 
	background-size: cover;
}

.home {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

#name {
	font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	color: #05042e;
  	text-shadow: 4px 4px 3px rgba(0,0,0,0.2); 
	margin-top: 0px;
	margin-bottom: 0px;
	display: none;
}

#linkedin {
	width: 3%;
	height: auto;
	margin-right: 40px;
}

#email {
	display: inline-block;
	width: 3%;
	height: auto;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: -3px;
}

#github {
	display: inline-block;
	width: 3%;
	height: auto;
	margin-left: 40px;
	margin-right: 40px;
}

#resume {
	display: inline-block;
	width: 3%;
	height: auto;
	margin-left: 40px;
}

/*About Page*/

.section#aboutpage {
	padding: 0px;
	padding-top: 30px;
}

.about {
	padding: 20px;
	font-family: 'Raleway', sans-serif;
}

#profile {
	display: block;
	margin: auto;
	width: 20%;
	height: auto;
	filter: drop-shadow(5px 5px 5px #222);
}

.greeting {
	font: 400 80px/0.8 'Cookie', Helvetica, sans-serif;
	text-align: center;
}

.greeting p {
	margin-top: 45px;
	margin-bottom: 45px;
	color: #412269;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.2); 
}

.info {
	padding-left: 400px;
	padding-right: 400px;
	color: #05042e;
	text-align: justify;
}

/*Projects Page*/

.section#projectspage {
	padding-top: 30px;
	padding-left: 200px;
	padding-right: 200px;
}

.project-title p {
	font: 400 80px/0.8 'Cookie', Helvetica, sans-serif;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 45px;
	color: #412269;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.row {
	display: table;
	padding: 10px;
	border-collapse: separate;
  	border-spacing: 10px;
  	margin: auto;
  	width: calc((100% - 60px));
  	height: calc((100% - 60px));
}

.column {
	display: table-cell;
    background-color: red;
    padding: 30px;
}

