.welcome-circles {
  height: 100%;
  background-color: #F9F6F2;
  overflow-y:hidden;
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(9, 11vh);
  position: fixed;
}

@media screen and (max-width: 768px) {
  .pink-circle {
    grid-row-start: 6 !important;
    grid-column-start: 4 !important;
  }

  .welcome-circles .red-circle {
    visibility: collapse;
  }

  .profile-pic {
    width: 50% !important;
  }
}

@media screen and (min-width: 1200px) {
  .welcome-circles .red-circle {
    grid-row-start: 7;
  }
}

.profile-pic  {
  width: 35%;
  height: auto;
  position:fixed;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  z-index: 100;
}

.green-circle {
  z-index: 100;
  background-color: #8BB0A1;
  border-radius: 0 0 30vh 0;
  height: 30vh;
  width: 30vh;
  float: left;
  position: relative;
  box-shadow:  3px 3px 5px 3px #ccc;
}

.pink-circle {
  z-index: 1;
  background-color: #F3CABC;
  border-radius: 100% 0 0 0;
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 6;
  grid-column-end: 11;
  box-shadow:  -3px -3px 5px 3px #ccc;
}

.red-circle {
  background-color: #CC402A;
  border-top-left-radius: 20vw;
  border-top-right-radius: 20vw;
  grid-row-start: 8;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 4;
  box-shadow:  0px -3px 5px 3px #ccc;
}

.name {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 7;
  padding-left: 5em;
}

.name h1 {
  text-align: center;
  font-size: 10vh;
  margin-bottom: 0;
  color: #25504B;
  font-weight: bold;
}

@media screen and (max-width: 375px) {
  .name h1 {
    font-size: 3em;
  }
}
