@media screen and (min-width: 768px) {
  .background {
    background-color: #F9F6F2;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(9, 11vh);
  }
}

.background {
  position: fixed;
  overflow: visible;
  background-color: #F9F6F2;

}

.emphasis {
  color: #25504B;
}

.more-info {
  padding-left: 3em;
  padding-bottom: 3em;
  z-index: 100;
  position: fixed;
  width: 50vw;
  padding-top: 2em;
}

@media screen and (max-width: 768px) {
  .more-info {
    width: 80vw;
    position: relative;
  }

  .profile-pic-about {
    visibility: hidden;
  }

  .pink-circle-about {
    visibility: hidden;
  }
}

.more-info p {
  font-family: Nanum Gothic, sans-serif;
  color: #8BB0A1;
  font-size: 105%;
}

.socials {
  margin-top: 3em;
}

.social-link {
  font-family: Nanum Gothic, sans-serif;
  color: #25504B;
  padding-right: 2em;
}

.social-link:hover {
    color: #25504B;
    font-weight:bold;
    text-decoration: none;
}

.profile-pic-about {
  width: 35%;
  height: auto;
  position:fixed;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  z-index: 100;
}

.pink-circle-about {
  z-index: 1;
  background-color: #F3CABC;
  border-radius: 100% 0 0 0;
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 6;
  grid-column-end: 11;
}
