.navbar-elem {
  font-family: Nanum Myeongjo, serif;
  color: #25504B !important;
  font-size: calc(7px + 2vmin);
}

.navbar-elem:hover, .navbar-elem:focus{
  font-family: Nanum Myeongjo, serif;
  color: #25504B !important;
  font-weight:bold;
  text-decoration: none;
}

.selected {
  font-family: Nanum Myeongjo, serif;
  color: #25504B !important;
  font-weight:bold;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .navbar-elem {
    padding-left: 1.5em;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    margin-right: 5em !important;
  }
}

.navbar-collapse {
  z-index: 1000;
}

.nav-item {
  width: fit-content;
}

.navbar-nav {
  width: fit-content;
  margin-bottom: 1em;
}
